/*
 *  Photopile image gallery base styles
 *  
 *  Auth: Brian W. Howell
 *  Date: 25 April 2014
 *
 */

/*-----------------------------------------------------------------------------
 *  THUMBNAIL SCALING
 *  As window size gets smaller, reduce the maximum thumbnail width.
 *  By doing so we can maintain the photopile effect for all screen resolutions.
 *  It is highly likely that you'll want to customize these values based on
 *  your personal preferences and the size of your thumbnails.
 *----------------------------------------------------------------------------*/

@media (max-width: 320px)                         { ul.photopile li a { max-width:  85px; }}
@media (min-width: 321px) and (max-width: 568px)  { ul.photopile li a { max-width: 100px; }}
@media (min-width: 569px) and (max-width: 768px)  { ul.photopile li a { max-width: 115px; }}
@media (min-width: 769px) and (max-width: 1024px) { ul.photopile li a { max-width: 125px; }}

/* ---- end thumbnail scaling ------------------------------------------------*/

/* Prevent FOUC */
.js ul.photopile { 
    display: none;
}

/* Thumbnails */
ul.photopile {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.photopile li {
    display: inline-block;
    position: relative;
    margin: 2px;
    padding: 0;

}
ul.photopile li a {
    display: block;
    padding: 2px;
    outline: none;
    text-decoration: none;
    border: 1px solid #6F6F6F;
    box-shadow: 0 0 20px #9F9F9F;
    -webkit-backface-visibility: hidden;
}
ul.photopile li.photopile-active-thumbnail:hover,
ul.photopile li.photopile-active-thumbnail a:hover { 
    cursor: default;
}
ul.photopile li a img {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #6F6F6F;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}

/* Photo container */
div#photopile-active-image-container {
    border: 1px solid #6F6F6F;
    box-shadow: 0 20px 80px black;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}
div#photopile-active-image-container img {
    margin: 0 auto;
    height: auto;
}
