/*
 *  Photopile image gallery base styles
 *  Author: Brian W. Howell
 *  Date: 23 April 2014
 *
 */

/*--------------------------------------------------------
 *  .js - prevent FOUC and display gallery loading image
 *--------------------------------------------------------*/

.js div.photopile-wrapper {

    /* CUSTOMIZE: Gallery placeholder during loading process. Adjust based on number of images in gallery */
    min-height: 150px;

    /* CUSTOMIZE: Path to background image displayed while gallery is loading */
    background-image: url('../images/loading-gallery.gif');

    background-repeat: no-repeat;
    background-position: 50%, 50%;
}
.js ul.photopile { display: none; }

/*---------------
 *  Thumbnails
 *--------------*/

ul.photopile {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.photopile li {
    display: inline-block;
    position: relative;
    margin: 2px;
    padding: 0;
}
ul.photopile li a {
    display: block;
    padding: 2px;
    outline: none;
    text-decoration: none;

    /* CUSTOMIZE: Styles applied to thumbnails to give a photo-like appearance */
    background: white;
    border: 1px solid #6F6F6F;
    box-shadow: 0 0 20px #9F9F9F;
}
ul.photopile li a:hover {

    /* CUSTOMIZE: Thumbnail hover color & transition speed */
    background: #6DB8FF;
    transition: .5s;
}
ul.photopile li.photopile-active-thumbnail:hover,
ul.photopile li.photopile-active-thumbnail a:hover { cursor: initial; }
ul.photopile li a img {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #6F6F6F;
    width: 100%;
    height: auto;
}

/*--------------------------------------------------------------------------------------
 *  CUSTOMIZE:
 *  Thumbnail scaling | Reduces maximum width of thumbnails based on screen dimension.
 *  It is highly likely that you'll want to customize this or remove altogether based 
 *  on your thumbnails.
 *--------------------------------------------------------------------------------------*/

@media (max-width: 320px) {
    ul.photopile li a { max-width: 85px; }
}
@media (min-width: 321px) and (max-width: 568px) { 
    ul.photopile li a { max-width: 100px; }
}
@media (min-width: 569px) and (max-width: 768px) { 
    ul.photopile li a { max-width: 115px; }
}
@media (min-width: 769px) and (max-width: 1024px) { 
    ul.photopile li a { max-width: 125px; }
}

/*-------------------*
 *  Photo container  *
 *-------------------*/

div#photopile-active-image-container {

    /* CUSTOMIZE: Styles applied to photo container to give a photo-like appearance */
    background: white;
    border: 1px solid #6F6F6F;
    box-shadow: 0 20px 80px black;
    background-image: url('../images/thumb-loading.gif');

    background-repeat: no-repeat;
    background-position: 50%, 50%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}
div#photopile-active-image-container img {
    margin: 0 auto;
    height: auto;
}
